.quiz-container {


    .title {
        font-size: 20px;
        font-weight: 600;
    }

    legend {
        font-size: 13px;

    }

    .list-detail {
        padding: 15px;

    }

    .img-preview {

        height: 150px;
        border: 4px dashed #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }


    }
}