.manage-user-container {
    padding: 10px;
    .users-content {
        .btn-add-new{
            button{
                margin: 15px 0;
            }
        }
    }
    .title{
        font-weight: 600;
        font-size: 20px;

    }
}

.modal-add-user {
    .img-preview {
        border: 1px solid red;
        height: 150px;
        border: 4px dashed #ccc;
        border-radius: 5px;
        display:flex;
        justify-content:center;
        align-items:center;
        color: #ccc;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .label-upload{
        display:flex;
        align-items:center;
        gap: 6px;
        padding: 4px 12px;
        background: #eee;
        width: fit-content;
        border-radius: 6px;
        cursor: pointer;

        &:hover{
            background: #dcdcdc;
        }
    }
}

