body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1350px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px !important;
  }
}

.app-container {

  .header-container {
    .btn-login {
      border-radius: 6px;
      margin-right: 16px;
      padding: 0 16px;
      border: 1px solid #535353;
      background-color: transparent;
      height: 36px;
    }

    .btn-signup {
      border-radius: 6px;
      padding: 0 16px;
      background-color: #303030;
      color: #fff;
      height: 36px;

      &:hover {
        background-color: #000;
      }
    }

    .navbar {
      padding-top: 18px;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }

    }

    // .navbar-nav .nav-link.active{
    //    color: red;
    // }
  }

  .homepage-container {
   
    .homepage-content {
      padding: 100px;
      width: 50%;
      position: relative;
      top: 62px;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .homepage-title {
        font-size: 46px;
        font-weight: 600;

      }

      .homepage-desc {
        font-size: 26x;
      }

      .homepage-btn {
        button {
          border-radius: 6px;
          padding: 0 16px;
          background-color: #303030;
          color: #fff;
          height: 36px;

          &:hover {
            background-color: #000;
          }
        }
      }
    }
    
  }
}

video {
  position: fixed;
  top: 0;
  bottom: 32px;
  width: 100vw;

}